:root {
    --primary-color: rgb(112, 111, 111);
    --secondary-color: rgb(240, 240, 240);
    --spacing: 30px;
}

html body {
    background-color: var(--secondary-color);
}


.card-wrapper {
    color: var(--primary-color);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing);
    padding: var(--spacing);
}


.container-header {
    text-align: center;
    flex-basis: 100%;
}


.member-card {
    background-color: white;
    max-width: 340px;
    flex-basis: 100% - var(--spacing);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.11);
}


.member-name {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
}

.member-position {
    font-size: 18px;
    font-weight: 300;
}

.member-portrait {
    max-width: 100%;
    margin-bottom: 10px;
}


@media screen and (min-width: 540px) {
    .member-card {

        flex-basis: calc((100%/2) - var(--spacing));

    }
}

@media screen and (min-width: 960px) {
    .member-card {

        flex-basis: calc((100%/3) - var(--spacing));

    }
}